.title-animation {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    display: inline !important;
}

.header-link-div {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-between;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.animation {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.page-title {
    display: block;
    font-weight: 300;
}

.page-title-bold {
    font-weight: 700;
}

.intro-text {
    line-height: 2.25rem;
    font-weight: 300;
    margin-bottom: 0px;
}

.chip {
    align-items: center;
    display: inline-flex;
    height: 100%;
    max-width: 100%;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
    border-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.87);
    background-color: #f7f7f7;
    margin: .375rem;
    cursor: default;
    line-height: 20px;
    outline: 0;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    transition-duration: .28s;
    transition-property: box-shadow,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    vertical-align: middle;
    white-space: nowrap;
}

.chip:hover {
    color: white;
    background-color: #da7965;
}

.bottom-page-div {
    display: flex;
    flex-direction: column;
    padding: 8rem 0rem 8rem 0rem;
    height: 26rem;
    background-color: #fafafa;
    width: 100%;
    overflow-x: hidden;
}

.bottom-page-inner-div {
    padding: 8rem 4rem;
}

.title {
    font-size: 2.25rem;
}

.email-link {
    color: #262626;
    font-weight: 600;
    font-size: 1.15rem;
}

.skill-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end
}
.about-me-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.about-me-paragraph {
    margin-left: 4rem;
}

.about-me-tldr {
    margin-top: 3rem;
}

.profile-img {
    height: 100%;
    width: 500px;
    border-radius: 4px;

}


.hr-class {
    height: .05rem;
    background: #d4d4d4;
    border: none;
    max-width: 20rem;
    margin-right: 0;
    width: 100%;
}

.header-top {
    margin-top: 8rem;
}

.layout_container {
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 90rem;
}


.section {
    margin-top: 12rem;
}

.paragraph {
    line-height: 2.25rem;
}

.chip-container {
    margin-left: 1rem;
}

.carousel {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;;
  gap: 16px;
}
.carousel .item:hover {
  cursor: pointer;
  background-color: rgba(55, 53, 47, 0.03);
}
.project-card-name {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.project-company{
  font-size: 12px;
}

@media screen and (max-width: 900px) {
    .profile-img {
        height: 100%;
        width: 18rem;
        border-radius: 4px;
    }

    .header-link-div {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        justify-content: space-between;
    }

    .header-top {
        margin-top: 3rem;
    }

    .skill-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem !important;
    }

    .about-me-tldr {
        margin-top: 2rem;
    }

    .about-me-paragraph  {
        margin-left: 0rem;
    }

    .about-me-picture {
        margin-left: 0rem;
    }

    .section {
        margin-top: 4rem;
    }

    .layout_container_bottom {
        margin: 0 auto;
        padding: 0 0rem;
        max-width: 90rem;
    }

    .layout_container {
        margin: 0 auto;
        padding: 0 3rem;
        max-width: 90rem;
    }

    .chip-container {
        margin-left: -0.5rem;
    }

    .about-me-h1-title {
        font-size: 1.75em;
        height: 140px;
    }

    .carousel {
      overflow: auto;
      display: flex;
      scroll-snap-type: x mandatory;
      scroll-padding: 24px 24px;
      height: 350px;
    }

    .carousel .item {
      scroll-snap-align: start;
      height: 200px;
      width: 200px;
      flex-shrink: 0;
      margin-right: 5px;
      margin-top: 8px;
      margin-left: 5px;
    }

    .tags {
      display: none;
    }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}
